body {
    margin: 30px;
    font-family: 'Roboto',
        sans-serif;
}

.pm .btn.btn-light {
    color: #76777B;
}

.case-study-image {
    width: 50%;
    background-size: 100% 100%;
    border-radius: 50%;
    display: inline-block;
}

.case-study-left {
    background-image: url("assets/PreView-Xtreme.jpg");
}

.case-study-middle {
    background-image: url("assets/case-study-3.jpg");
}

.case-study-right {
    background-image: url("assets/sterling-ventures-cs.jpg");
}

.case-study-image::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.case-study-row {
    background: #4298CC;
    padding-top: 10px
}

.case-study-container {
    text-align: center;
    padding-top: 45px;
}

.case-study-text {
    background: #F8F8F8;
}

h4,
h5 {
    color: #76777B;
}

p {
    color: #8D8D8D;
    font-weight: lighter;
}

.break {
    height: 2px;
    background-color: #8D8D8D;
    border: 2px;
    margin-bottom: 75px;
    margin-top: 15px;
}

.ad-text {
    vertical-align: middle;
    text-align: justify;
    padding-top: 65px;
}

.break-footer {
    height: 1px;
    background-color: #8D8D8D;
    border: 1px;
    margin-bottom: 45px;
    margin-top: 5px;
}

.main-content {
    text-align: justify;
}

.main-c-row {
    padding-top: 85px;
    padding-bottom: 85px;
    background: #F8F8F8;
}



.follow-us {
    text-align: center
}

.column {
    float: left;
    width: 50%;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer-h5 {
    text-align: center;
    color: #76777B;
}

.footer-strong {
    font-weight: bold;
    color: #8D8D8D
}

.footer-paragraph {
    text-align: justify;
    color: #8D8D8D
}

.footer-info-text {
    color: #8D8D8D
}

.quick-links {
    color: #8D8D8D
}