body {
    margin: 30px;
    font-family: 'Roboto',
        sans-serif;
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.pm .btn.btn-light {
    color: #76777B;
}

.main-content {
    text-align: justify;
}

.main-c-row {
    padding-top: 85px;
    padding-bottom: 85px;
    background: #F8F8F8;
}

.case-study-image {
    width: 50%;
    background-size: 100% 100%;
    border-radius: 50%;
    display: inline-block;
}

.case-study-left {
    background-image: url("assets/PreView-Xtreme.jpg");
}

.case-study-middle {
    background-image: url("assets/case-study-3.jpg");
}

.case-study-right {
    background-image: url("assets/sterling-ventures-cs.jpg");
}

.case-study-image::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.case-study-row {
    background: #4298CC;
    min-height: 500px;
}

.case-study-container {
    text-align: center;
}

.case-study-text {
    background: #F8F8F8;
}

.transparent-background {
    top: -400px;
    position: relative;
    margin-bottom: -300px
}

/*.social-icons {
    height: 60px;
    width: 60px;
    border: 1px solid red;
    background-position-y: -8px;
    background-position-x: -8px;
}*/

.facebook {
    background: url("asssts/facebook.png");
    height: 64px;
    width: 64px;
}

.instagram {
    background: url("asssts/instagram.png");
    height: 64px;
    width: 64px;
}

.twitter {
    background: url("asssts/twitter.png");
    height: 64px;
    width: 64px;
}

.vimeo {
    background: url("asssts/vimeo.png");
    height: 64px;
    width: 64px;
}

.linkedin {
    background: url("assets/linkedin.png");
    height: 64px;
    width: 64px;
}

h4,
h5 {
    color: #76777B;
}

p {
    color: #8D8D8D;
    font-weight: lighter;
}

.break {
    height: 2px;
    background-color: #8D8D8D;
    border: 2px;
    margin-bottom: 75px;
    margin-top: 15px;
}

.ad-text {
    vertical-align: middle;
    text-align: justify;
    padding-top: 65px;
}

.break-footer {
    height: 1px;
    background-color: #8D8D8D;
    border: 1px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.follow-us {
    text-align: center
}

.column {
    float: left;
    width: 50%;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer-h5 {
    text-align: center;
    color: #76777B;
}

.footer-strong {
    font-weight: bold;
    color: #8D8D8D
}

.footer-paragraph {
    text-align: justify;
    color: #8D8D8D
}

.footer-info-text {
    color: #8D8D8D
}

.quick-links {
    color: #8D8D8D
}

.vl {
    border-left: 1px solid #76777B;
}

.vr {
    border-left: 1px solid #76777B;
}

.product-ad-margin {
    padding-bottom: 100px;
}